@import url(https://fonts.googleapis.com/css?family=Oswald|Quicksand|Comfortaa);

body{
	font-family: Quicksand;
	background-color:#eff9f9;
	margin: 0;
	-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
a{
	text-decoration: none;
}
/* loggedout main */
.loggedout-header{
	letter-spacing:15px;
	font-weight:300;
	text-align:center;
	font-size:100px;
	color:#545454;
	margin-top:18%;
	z-index:1;
}
.loggedout-main-container{
	border:1px solid #eff9f9;
	width:870px;
	height:700px;
	white-space: nowrap;
	margin: auto;
    top: 0; 
    left: 0;
    bottom: 0; 
    right: 0;
    position: relative;
    margin-top: 10%;
}
.loggedout-main-container1{
	width:900px;
	height:80%;
	//position:absolute;
	overflow: auto;
	margin-top: 2%;
	white-space: nowrap;
	//background-color:red;
	margin-left:calc(50% - 530px);
	
}

.loggedout-form-container{
	display:none;
	background-color:#F7F7F7;
	width:530px;
	height:410px;
	border-radius:5px;
	border: 1px solid #E3E3E3;
	box-shadow:0px 0px 15px #BDBDBD;
	overflow: visible;
	position: absolute;
	z-index: 1000;
	margin-top:-17%;
	margin-left: calc(50% - 300px);
}

#lmc4{
	width: 600px;
	margin-left: calc(50% - 380px);
}
.close-loggedout-form-container{
	color:grey;
	letter-spacing:3px;
	margin-left:-400px;
	cursor:pointer;
}
.sec-title{
	color:#FFFFFF;
	font-size:400%;
	letter-spacing:3px;
	font-family:Dosis;
	text-align: center;
	margin-left: -150px;
}
@media only screen and (max-width:1200px) {
	.loggedout-main-container1{
		width: 700px;	
		margin-left:calc(50% - 400px);
	}
}
@media only screen and (max-width:1000px) {
	.nav-bar-out{	
		display: none;
	}
}


.section{
	width:100%;
	height:100%;
	overflow: hidden;
}

#section2{
	background-color:#00CDCD;
}

#section3{
	background-color:#FF8247;
}

#section4{
	background-color:#F08080;
}

#section5{
	background-color:#66CDAA;
}
#section6{
	background-color:#EEAD0E;
}
.thread-holder{
	color:#6495ED;
	position:absolute;
	height:10px;
	width:300px;
	//display:none;
	letter-spacing:1px;
	text-align:center;
}
#thread-holder1e{
	margin-left:50px;
	margin-top:50px;
}
#thread-holder2e{
	margin-left:80px;
	margin-top:400px;
}
#thread-holder3e{
	margin-left:500px;
	margin-top:500px;
}
#thread-holder4e{
	margin-left:600px;
	margin-top:100px;
}
#thread-holder5e{
	margin-left:900px;
	margin-top:400px;
}
#thread-holder6e{
	margin-left:750px;
	margin-top:600px;
}
#thread-holder7e{
	margin-left:150px;
	margin-top:200px;
}
#thread-holder8e{
	margin-left:850px;
	margin-top:300px;
}
#thread-holder9e{
	margin-left:150px;
	margin-top:700px;
}
#thread-holder9e{
	margin-left:500px;
	margin-top:300px;
	
}
#home-link-out{
	margin-top:-100px;
	color:grey;
	margin-left:90px;
	cursor:pointer;
	position:absolute;
	font-size:70%;
}

#learn-more-p{
	letter-spacing:2px;
	color:#ffffff;
	text-align: center;
	height:80%;
	margin: 20 auto;
	width:90%;
	font-size:150%;
	white-space:normal;
	overflow: auto;

}
.loggedout-paragraph-container{
	position:absolute;
	letter-spacing:5px;
	font-weight:400;
	font-size:22px;
	color:#545454;
	cursor:pointer;
}


#nav-bar-out{
	top:15%;
	font-size:150%;
	letter-spacing:3px;
	height:70%;
	width:13%;
	//background-color:red;
	margin-left:87%;
	position:fixed;
	z-index:1;
	color:white;
	display:none;
	-webkit-hyphens: none;
   -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

@media only screen and (max-width: 1250px) {
	#nav-bar-out{
		margin-left:86%;
		margin-top:-50px;
		font-size:120%;
	}
	#home-link-out{
		margin-top:-30px;
	}
}
@media only screen and (max-width:1200px) {
	#nav-bar-out{
		display: none;
	}
}

.nav-bar-out-opt{
	padding-bottom:70px;
	cursor:pointer;

}

#opt-sel{
	height:7px;
	width:7px;
	background-color:#FFFFFF;
	border-radius:10px;
	position:absolute;
	margin-left:-15px;
	outline-width:1px solid transparent;
	margin-top:10px;
	outline-width:0px;
}
#nbo1{
	//color:#7D9EC0;

}
#nbo2{
	//color:#C67171;

}
#nbo3{
	//color:#388E8E;

}
#nbo4{
	//color:#71C671;

}
#nbo5{
	//color:#7171C6;

}
#opt-sel-route{
	height:100%;
	width:1px;
	margin-left:-12px;
	opacity:0.2;
	background-color:black;
	position:absolute;
}
/*loggedin main */

.loggedin-body{
	width:80%;
	min-height:100%;
	margin:0 auto;
}

.loggedin-inner-container{
	width: 100%;
	min-height: 85%;
	position: relative;
}
/* loggedout home page lines */
.rotate{
	display:none;
	position:absolute;
	background-color:lightgrey;
	width:2px;
	border-radius: 1px;
	
}
#r1{
	height:170px;
	margin-left:266px;
	margin-top:58px;
}
#r6{
	height:100px;
	margin-left:316px;
	margin-top:100px;	
}
#r2{
	height:100px;
	margin-left:365px;
	margin-top:109px;	
}
#r5{
	height:120px;
	margin-left:420px;
	margin-top:251px;	
}
#r3{
	height:170px;
	margin-left:593px;
	margin-top:56px;	
}
#r4{
	height:220px;
	margin-left:616px;
	margin-top:195px;	
}
#r7{
	height:180px;
	margin-left:200px;
	margin-top:220px;	
}
/* form labels */

#forml1{
	color:#FF82AB;
	text-align: left;
	letter-spacing:4px;
}
/* form elements */

.loggedout-form-fields{
	width:300px;
	height:30px;
	font-family: Quicksand;
	color:grey;
	outline-width:0px;
	font-size:17px;
	letter-spacing:3px;
	border:1px solid #E3E3E3;
	margin-left:20px;
}
.loggedout-form-fields-snc{
	height:30px;
	font-family: Quicksand;
	color:grey;
	outline-width:0px;
	border: none;
	border-radius:3px;
	font-size:17px;
	letter-spacing:3px;
}
.loggedout-form-fields-c{
	height:40px;
	font-family: Quicksand;
	color:grey;
	outline-width:0px;
	border: none;
	margin-top: 5px;
	border-radius:3px;
	width: 500px;
	font-size:17px;
	letter-spacing:3px;
}
.loggedin-form-field1{
	width:400px;
	height:40px;
	font-family: Quicksand;
	color:grey;
	outline-width:0px;
	border-radius:3px 3px 0px 0px;
	font-size:17px;
	letter-spacing:3px;
	border:2px dashed lightblue;
	padding:10px;
}
.loggedin-form-field2{
	width:400px;
	height:200px;
	font-family: Quicksand;
	color:grey;
	resize:none;
	border: 2px dashed lightblue;
	outline-width:0px;
	border-radius:0px;
	margin-top: -2px;
	font-size:17px;
	letter-spacing:3px;
	padding:10px;
}

.loggedin-form-submit1{
	font-family: Quicksand;
	font-size:15px;
	letter-spacing:3px;
	background-color:#F7F7F7;
	border:none;
	color:grey;
	padding:15px;
	margin-top: -2px;
	margin-left: 295px;
	border-left: 2px dashed lightblue;
	border-bottom: 2px dashed lightblue;
	border-right: 2px dashed lightblue;
	border-radius: 0px 0px 3px 0px;
	cursor:pointer;
}
.loggedin-form-info1{
	font-family: Quicksand;
	font-size:10px;
	letter-spacing:2px;
	background-color:#F7F7F7;
	color:grey;
	position: absolute;
	margin-top: -2px;
	padding:2px;
	width:293px;
	border-radius: 0px 0px 0px 3px;
	height:44px;
	border-right: 2px dashed lightblue;
	border-left: 2px dashed lightblue;
	border-bottom: 2px dashed lightblue;
}

.loggedin-form-info1 p{
	text-align: center;
	margin-top:2px;
	position: absolute;
}
.loggedout-form-submit{
	height:40px;
	width:100px;
	font-family: Quicksand;
	font-size:18px;
	letter-spacing:3px;
	background-color:#F7F7F7;
	border:1px solid #E3E3E3;
	color:grey;
	
}

.join-a{
	font-size:70%;
	letter-spacing:2px;
	color:#595959;
}
.loggedout-error{
	background-color:#F08080;
	width:450px;
	color:white;
	letter-spacing:2px;
	border:1px solid 642623;
	padding:5px;
	font-size:90%;
	margin-left:30px;
}
.loggedout-error-content{
	margin-top:5px;
	height:auto;
	overflow:auto;
}

/*----*/
.try-again-reg{
	cursor:pointer;
	letter-spacing:5px;
	color:grey;
	font-size:110%;
}

/* loggedout contact page */
.contact-form-container{
	color:#595959;
	letter-spacing:3px;
}
.contact-email{
	color:#87CEFF;
	text-decoration:none;
}
.contact-sub-info{
	font-size:70%;
	letter-spacing:2px;
}
/*loggedout paragraphs */
.loggedout-paragraph{
	font-size: 50%;
	letter-spacing: 2px;
	width: 200px;
	text-align: center;
	white-space: normal;
	margin-top: 10px;
}

#loggedout-paragraph-container1{
	margin-left:0px;
	margin-top:5px;
}
#loggedout-paragraph-container2{
	margin-left:300px;
	margin-top:10px;
}
#loggedout-paragraph-container3{
	margin-left:600px;
	margin-top:10px;
}
#loggedout-paragraph-container4{
	margin-left:600px;
	margin-top:90px;
}
#loggedout-paragraph-container5{
	margin-left:300px;
	margin-top:90px;
}
#loggedout-paragraph-container6{
	margin-left:30px;
	margin-top:-50px;
}
#loggedout-paragraph-container7{
	margin-left:0px;
	margin-top:90px;
}

/* nav */


.menu{
	background-color:#d1ecf0;
	height:60px;
	width:100%;
	font-size: 110%;
	list-style: none;
	padding: 2px;
	letter-spacing: 2px;
	min-width: 780px;
	z-index: 100000;
	-webkit-hyphens: none;
   -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.mitem-container{
	width: 220px;
	float: left;
	text-align: center;
	color: grey;
	height: 58px;
	position: relative;
	z-index: 100000;
	outline-width: 0px;
}
@media only screen and (max-width: 1255px) {

	.mitem-container{
		width: 160px;
		font-size: 80%;
	}

	.loggedin-body{
		width: 75%;
	}
	
	#profile-info-container2{
		font-size: 80%;
		letter-spacing: 1px;
	}

}
.subitem{
	padding: 15px;
	color: #3a8187;
	height: 25px;
}
.usubitem{
	font-size: 95%;
	letter-spacing: 1px;
}
.mitem{
	position: absolute;
	z-index: 100000;
	overflow: hidden;
	width:100%;
	height:100%;
	background-color:#d1ecf0;
}
#mitem1{
	border-top: 4px solid #CD96CD; 
}
#mitem2{
	border-top: 4px solid #71C671; 
}
#mitem3{
	border-top: 4px solid #7D9EC0; 
}
#mitem4{
	border-top: 4px solid gold;
}


.topic-link{
	letter-spacing:4px;
	color: #525252;
	text-shadow:150px 20px 17px;
	font-size:350%;
	cursor:pointer;
	text-align:center;
}
.non-act-warning{
	font-size:50%;
	color:#FF6A6A;
}

#start-debate-form{
	z-index:100;
	position:absolute;
	display:none;
	margin-top:20px;
	margin-left:30px;

}
.start-debate-option{
	z-index:10;
	background-color:#FA8072;
	color:white;
	letter-spacing: 3px;
	padding-left:10px;
	position:absolute;
	width:150px;
	padding:10px;
	text-align:center;
	cursor:pointer;
}


.no-hyphens{
	-webkit-hyphens: none;
   -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
#drag-container{
	height:340px;
	width:1000px;
	position: fixed;
	margin-left:-720px;
	margin-top: 3%;
	cursor: pointer;
}
.thread-container{
	background-color: #EDEDED;
	height:auto;
	max-height: 100px;
	overflow: hidden;
	font-family: Comfortaa;
	padding:15px;
	padding-right: 0px;
	letter-spacing: 3px;
	font-size: 130%;
	padding-top:0px;
}
.thread-des{
	font-size:60%;
	color:grey;
	width:70%;
}

.thread-title{
	z-index:1;
	width:50%;
	height:auto;
	float:left;
}
.voter-amount{
	font-size:60%;
	color:#616161;
}

.thread-title-header{
	color:#66CDAA;
	letter-spacing:3px;
	font-size:300%;
}

.sub-info-thread{
	color: darkgrey;	
	text-align: center;
}

.thread-reply-container{
	background-color:#EDEDED;
	height: auto;
	overflow:auto;
	width:97%;
	padding:15px;
	padding-bottom: 5px;
	color:#262626;
}

.thread-reply-info{
	//box-shadow:0px 0px 10px grey;
	width:100%;
	margin-top:10px;
	border-top: 2px lightgrey dashed;	
}

.topic-container{
	width:100%;
	height:auto;
	
}

.reply-option1-container{
	float:right;
	height:25px;
	margin-top:10px;
	font-size: 80%;
	cursor:pointer;
	margin-right: 50px;
	letter-spacing: 1px;
	
}
.reply-option1-container a{
	color:lightblue;	
}

.textarea-type1{
	resize:none;
	font-family: Quicksand;
	color:grey;
	outline-width:0px;
	font-size:15px;
	letter-spacing:2px;
	border:1px solid lightgrey;
	width:100%;
	height:150px;
	padding:10px;
	border-radius:4px 4px 0px 4px;
}
.textarea-type2{
	resize:none;
	font-family: Quicksand;
	color:grey;
	outline-width:0px;
	font-size:12px;
	letter-spacing:2px;
	border:1px solid lightgrey;
	width:90%;
	height:50px;
	padding:5px;
	margin-top:10px;
	margin-left:10px;
	border-radius:4px 4px 4px 4px;
}
//--

.editpost-submit{
	margin-left:78%;
	width:22%;
	background-color:white;
	height:30px;
	font-family: Quicksand;
	color:grey;
	font-size:13px;
	letter-spacing:3px;
	border:1px solid lightgrey;
	border-top: 0px solid;
	
}
.mreply-submit{
	width:100px;
	background-color:white;
	height:25px;
	font-family: Quicksand;
	color:grey;
	font-size:12px;
	letter-spacing:3px;
	border:1px solid lightgrey;
	border-top: 0px solid;
	margin-left:5%;
	
}

.quick-success-msg{
	position:fixed;
	background-color:#E5E5E5;
	width:300px;
	height:auto;
	overflow: auto;
	z-index:100000;
	box-shadow:0px 0px 20px grey;
	padding:15px;
	border-radius:4px;
	cursor:pointer;
	margin-left: calc(50% - 300px);
}

.mreply-form-container{
	display:none;	
	width:50%;
	height:90px;
	margin-left:10%;
	background-color:#EDEDED;
	border-radius:4px 0px 4px 4px;
	margin-top:5px;

}
.mreply-container{
	width:60%;
	background-color:#EDEDED;
	height:auto;	
	font-size:14px;
	padding:10px;
	padding-bottom: 0px;
	margin-left:10%;
	margin-top:5px;
	overflow:auto;
	
}
.thread-title-repeat{
	font-size:30px;
	color:grey;	
	letter-spacing: 2px;
}
.reply-status-select{
	font-family: Quicksand;
	color:grey;
	outline-width:0px;
	border: 1px solid #E3E3E3;
	border-radius:3px;
	font-size:13px;
	letter-spacing:3px;
	border:1px solid #E3E3E3;
	width:150px;
	height:25px;
}

.title-private-debate{
	font-size:30px;
	color:grey;
	text-align:center;
}

.profile-title{
	color:dimgrey;
	font-size:200%;
	letter-spacing:3px;	
}

.profile-info-container{
	height:auto;
	overflow: auto;
	opacity:1;
	letter-spacing:3px;
	background-color: #62b1cf;
	z-index:100;
	font-size:130%;
	padding:20px;
	color:dimgrey;
	padding-top:0px;
	white-space:normal;
	text-align:left;	
}
.profile-edit-textfield{
	background-color:#62b1cf;
	font-size:20px;
	color:dimgrey;
	border:none;
	width:300px;
	outline-width:0px;	
}
#sub-profile-title{
	color:#fbaca3;
}
.profile-bottom-inner-container{
	width:49%;
	letter-spacing:3px;
	height:100%;
	float: left;
	font-size:130%;
	color:dimgrey;
	background-color: #62b1cf;

}
#about-me-container{
	width:50%;
	margin-top: 20px;
	float: right;
}

#all-boxes{
	position: relative;
	width: 100%;
	height: 100%;

}
#profile-bottom-container{
	width: 100%;
	position: relative;
	height: 50%;
}
#about-me-textarea{
	height:250px;
	width: 100%;
	resize:none;
	font-size:100%;
	background-color: #62b1cf;
	border: 2px dotted #06e5b1;
	color:#06e5b1;
	outline-width: 0px;
	line-height:30px;
	padding:10px;
	letter-spacing:2px;
}
.edit-profile-submit{
	background-color:lightgrey;	
	font-size:15px;
	border:1px solid grey;
	display:none;
	color:dimgrey;
	letter-spacing:2px;
	border-radius:1px;
	float:right;
}

.edit-instructions{
	letter-spacing:1px;
	font-size:12px;	
	margin-top: 20px;
}

.admin-links{
	float:right;
	background-color:lightgrey;	
}
.admin-links a{
	color:grey;
}

.leader-cp-title{
	font-size:20px;
	color:grey;	
}

.leader-cp-section{
	width:90%;
	height:30px;
	overflow:auto;
	background-color:lightgrey;
	border-radius:3px;
	padding:10px;
	color:dimgrey;
	overflow:hidden;
}

.leader-cp-fields{
	width:200px;
	height:30px;
	font-size:13px;
	font-family: Quicksand;
	color:grey;
	outline-width:0px;
	border: 1px solid #E3E3E3;
	border-radius:3px;
	letter-spacing:3px;
	border:1px solid #E3E3E3;
}

.leader-cp-submit{
	width:100px;
	height:30px;
	font-size:13px;
	font-family: Quicksand;
	color:grey;
	outline-width:0px;
	border: 1px solid #E3E3E3;
	border-radius:3px;
	letter-spacing:3px;
}

.p-groups-title{
	font-size:30px;
	color:grey;	
	text-align:center;
}

.p-group-list{
	background-color:lightgrey;
	padding:20px;
	border-radius:4px;
	color:dimgrey;
	font-size:17px;
	margin:0 auto;
	width:50%;
	text-align:center;
}

.p-group-users{
	background-color:lightgrey;
	padding:20px;
	border-radius:4px;
	color:dimgrey;
	font-size:17px;
	margin-left:25%;
	width:20%;
	text-align:center;
	box-shadow:0px 0px 20px dimgrey;
	border:1px dashed grey;
	position:absolute;
	z-index:100;
}

.note_title{
	text-align: center;
	letter-spacing:3px;
	font-size:28px;
	color:#7EC0EE;	
}

.group-fields{
	width:170px;
	border:1px solid lightgrey;
	background-color:#FAFAFA;
	height:30px;
	color:grey;
	font-size:12px;
	letter-spacing:2px;
	outline-width:0px;
}

.create-group{
	//position:absolute;
	background-color:#FA8072;
	height:30px;
	padding:7px;
	border-radius:2px;
	color:white;
	width: 600px;
	margin-left: calc(50% - 300px);
	text-align:center;
	cursor:pointer;
}
#group_link{
	color:#ffdca6;
	letter-spacing:2px;
	font-size:17px;	
	cursor: pointer;
}
.start-comp-form{
	display:none;	
}
.start_comp_link{
	background-color:#FA8072;
	height:auto;
	padding:10px;
	color:white;
	width:200px;
	position: absolute;
	text-align:center;
	font-size:18px;
	cursor:pointer;
	margin-top: -60px;
	letter-spacing:2px;
	overflow: hidden;
}

.pm-row{	
	background-color:#F2F2F2;
	padding:10px;
	letter-spacing:2px;
	font-size:20px;	
	cursor:pointer;
}

.inbox-menu{
	color:grey;
	letter-spacing:1px;
	cursor:pointer;
}

.close-spm-form{
	margin-left:60%;
	margin-top:30px;
	padding:10px;
	position:absolute;
	display:none;
	z-index:1000;
	color:grey;
	cursor:pointer;	
}

.pm-subject{
	color:#66CDAA;
	letter-spacing:3px;
	font-size:300%;
}

.note-bubble{
	background-color:#FF6A6A;
	width:auto;
	padding-left:2px;
	outline-width-right: 10px; 
	color:#fff;
	border-radius:5px;
	z-index: 10000000000000;
	display:inline;
	position: absolute;
	margin-left: 60px;
}

.pm-delete-link{
	color:#EE6A50;
	float:right;
	margin-right:5px;
	letter-spacing: 2px;
}

.action-uprofile-link{
	color:#fff;
	letter-spacing:1px;
	float:right;
	padding-top: 10px;
	font-size:70%;
}	

.friend-list{
	width:100%;
	letter-spacing:1px;
	overflow: auto;
	color:dimgrey;
	padding: 10px;
}

.friend-list-block{
	margin-left: 20px;
	border: 2px dashed lightblue;
	margin-top: 10px;
	float:left;
	font-size: 60%;
	cursor:pointer;
	white-space: normal;
}

#iwonder-board{
	margin:0 auto;
	margin-top:50px;
	min-height: 500px;
	height: auto 500px;
	overflow: auto;
	padding: 10px;
	background-color:#C89661;
	padding-top: 10px;
	width: 1100px;
}

.iwonder-sticky{
	cursor:pointer;
	color:dimgrey;
	letter-spacing:1px;
	background-color:gold;
	height:200px;
	font-size:150%;
	padding:10px;
	margin-top: 2%;
	margin-left: 2%;
	width:230px;
	float:left;
}
#iwonder-menu{
	color:grey;
	letter-spacing:1px;
	font-size:110%;
	cursor:pointer;
}

#new-sticky-text{
	background-color:gold;
	resize:none;
	border:none;
	font-size:100%;
	width:190px;
	height:200px;
	color:dimgrey;
	outline-width:0px;
}

.sticky-content{
	width:95%;
	overflow: auto;
	height:300px;
	display:none;
	margin:0 auto;
	font-size:70%;
}

#contact-opt-b{
	height:400px;
	width:400px;
	opacity:0.4;
	color:red;
	text-align:center;
	margin-top:100px;
	position:absolute;
	margin-left:100px;
	letter-spacing:5px;
	font-size:150%;
	border-radius:300px;
	background-color:blue;
}

#contact-opt-sel{
	border:none;
	width:200px;
	height:30px;
	text-align: center;
	font-size:80%;
	outline-width:0px;
	letter-spacing:2px;
	border-radius:0px;
	background-color:white;
}

#contact-textarea{
	width:600px;
	height:300px;
	resize:none;
	outline-width:0px;
	border: 1px solid lightgrey;
	padding:5px;
	border-radius:5px;
	font-size:120%;
	margin-top: 5px;
	font-family: Quicksand;
	letter-spacing:3px;
	box-shadow:0px 0px 15px grey;
}

#contact-form{
	//background-color:blue;
	text-align:center;
}

#iwonder-t{
	font-size:200%;
	color:grey;
	letter-spacing:2px;
}	

#note-line{
	letter-spacing:2px;
	color: #ffc0cb;
	width:900px;
	padding:10px;
}

.note-menu{
	letter-spacing:2px;
	color:dimgrey;
	cursor:pointer;
}
.note-sel-box{
	height:20px;
	width:20px;
	background-color:white;
	color:#404040;
	float:right;
	cursor:pointer;
	text-align:center;
	font-size:400%;
	margin-top:-20px;
}
.note-sel-content{
	margin-top:-27px;
}
#ds-n{
	display:none;
}

.snc-form{
	z-index:100;
	text-align: center;
	width:500px;
	color:#4A4A4A;
	letter-spacing:2px;
	margin: 0 auto;
}

.snc-field-note{
	font-size:50%;
	height:25px;
	width:240px;
	color:#ffffff;
	margin-top:0px;
	text-align: center;
	margin: 0 auto;
	white-space:normal;
	
}

.snc-error-container{
	width:500px;
	background-color:lightgrey;
	border-radius:2px;
	padding:20px;
	margin: 50 auto;
	display:none;
	z-index:2000;
}

.admin-body{
	width:95%;
	height:90%;
	font-family:menlo;
	overflow: auto;
	background-color:dimgrey;
	padding:30px;
}
#admin-title{
	color:darkblue;
	//font-weight:bold;
	letter-spacing:3px;
	font-size:200%;
	margin-left:200px;
}	

#side-bar-menu-admin{
	float:left;
	height:500px;
	width:15%;
	background-color: grey;
	padding: 10px;
}

#choose-p-com-viewbox{
	padding:10px;
	background-color: lightgreen;
}

#admin-page-container{
	height:500px;
	width:80%;
	overflow: auto;
	padding:10px;
	background-color: grey;
	float:right;
}
.admin-sub-page{
	display:none;
}

#no-threads-message{
	font-size:200%;
	color:dimgrey;
	text-align:center;
	margin-top:150px;
}
#report-user-form{
	height:200px;
	width:400px;
	margin-top:20px;
	background-color:lightgrey;
	position:absolute;
	z-index:100;
	box-shadow:0px 0px 30px grey;
	margin-left: calc(50% - 200px);
	padding:10px;
}	

#report-textarea{
	resize:none;
	border:1px solid silver;
	border-radius:3px;
	height:150px;
	width:300px;
	font-family: Quicksand;
	color:dimgrey;
	font-size:80%;
	letter-spacing:2px;
	outline-width:0px;
}
.act-on-rep{
	color:#8b0000;
	cursor:pointer;
}

#comp_field_labels{
	color:lightgrey;
	font-size:55%;
}

#sub_comp_info{
	font-size:70%;
}

.respond-comp-invite-body{
	background-color: #62b1cf;
	color:#ffffff;
	top:250px;
	height:300px;
	width:400px;
	margin-left:25%;
	border-radius:4px;
	box-shadow: 0px 0px 10px grey;
	position:fixed;
	letter-spacing:2px;
	padding:10px;
	text-align:center;
}

.comp-view-cand-box{
	height:450px;
	width:47%;
	background-color:lightgrey;
	padding:10px;
	float:left;
	outline:10px;
	margin-left:10px;
	margin-top:10px;
}
@media only screen and (max-width: 1250px) {
	.comp-view-cand-box{
		width: 95%;
	}
}

#cvcb-sec1{
	height: 30px;
	border-bottom: 1px solid grey;
	color: #48545a;
}

#cvcb-sec2{
	height: 30px;
	color: #48545a;
}

#cvcb-sec3{
	height: 360px;
	overflow: auto;
	color: #48545a;
	background-color: #ddebee;
	padding: 5px;
}

#cvcb-sec4{
	height: 30px;
	color: #48545a;
}

.add-arg-comp-form{
	width: 400px;
	height: 300px;
	background-color: salmon;
	position:fixed;
	margin-left: calc(50% - 400px);
	border-radius: 3px;
	padding: 10px;
	text-align: center;
	margin-top: -100px;
	box-shadow: 0px 0px 30px grey;	
	display: none;
}

#add-arg-comp-tarea{
	resize: none;
	color: grey;
	border: none;
	height: 50%;
	width: 100%;
}

#add-arg-comp-submit{
	border: none;
	width: 100px;
	padding: 10px;
	font-size: 105%;
	color: white;
}	

#sa-show-form{
	padding: 5px;
	height: 20px;
	width: 170px;
	text-align:center;
}	

#arg-text-body{
	width: calc(100% - 10px );
	height: auto;
	font-size: 70%;
	padding: 5px;
	margin-top: 5px;
}	

#page-disabled{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: lightgrey;
	opacity: 0.8;
	z-index: 100000;
	position: absolute;
	//padding: 10px;
	padding-top: 200px;
	font-size: 200%;
	text-align: center;
}

#comp-side-dis{
	float: right;
	color: #ff94b7;
}
.badge-body{
	height: 90px;
	width: 90px;
	border-radius: 100%;
	text-align: center;
	font-size: 40%;
	white-space: normal;
	color: white;
	padding: 3px;
	border: 4px solid;
	margin-left: 55px;
	letter-spacing: 1px;
}
#badge-c-1{
	border-color:#74d76f;
	background-color:#37c3e0;
}
#badge-c-2{
	border-color:#304a6a;
	background-color:#c9a0dc;
}
#badge-c-3{
	border-color:#fc6c85;
	background-color:#ff6700;
}
#badge-c-4{
	border-color:#81d8d0;
	background-color:#0099cc;
}
#badge-c-5{
	border-color:#00ffff;
	background-color:#ffd700;
}
#badge-c-6{
	border-color:#4169e1;
	background-color:#794044;
}

.frb{
	width: 300px;
	background-color: lightblue;
	height:200px;
	padding: 10px;
	overflow: auto;
	position: absolute;
	margin-left: calc(50% - 150px);
	top: 200;
	box-shadow:0px 0px 30px grey;
}

.home-in-box{
	height: 300px;
	color: grey;
	z-index: 1;
	position: relative;
}

.hib-title{
	letter-spacing: 2px;
	padding: 10px;
	color: grey;
	font-weight: bold;
}

#hib1{
	background-color: #fbd7f4;
	width: 66.6%;
	margin-top: -300px;
	margin-left: 0px;
}

#hib2{
	background-color: #c8e1fb;
	margin-top: 0px;
	margin-left: 66.6%;
	width: 33.3%;
}

#hib3{
	background-color: #d3f9d7;
	width: 33.3%;
	margin-left: 33.3%;
	margin-top: -300px;
}

#hib4{
	background-color: #96cfd4;
	width: 33.3%;
	margin-top: 0px;
	margin-left: 0px;
}
#hib5{
	background-color: #fbaaaa;
	width: 33.3%;
	margin-left: 66.6%;
	height: 600px;
	margin-top: -300px;
}
#hib6{
	background-color: #ffd29a;
	width: 66.6%;
	height: 300px;
	margin-left: 0px;
	margin-top: -300px;
}

.hib-content{
	padding: 10px;
	overflow-y: auto;
	height: 250px;
}

.hib-c-row{
	color: #ffffff;
	letter-spacing: 2px;
	font-size: 120%;
	border-bottom: 1px dashed lightgrey;
}

.p-g-toggle{
	padding: 3px;
	border: 1px dotted grey;
	cursor: pointer;
}


::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px lightblue; 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 1px;
    background: #1ce5c2; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.typed-cursor{
    opacity: 0;
}

#fl-intro-box{
	font-size: 600%;
	letter-spacing: 3px;
	color: salmon;
}

#fl-tour-opt{
	display: none;
	font-size: 500%;
}

.fl-tour-opt{
	color: lightblue;
}

.tour-text-box{
	top: 200;
	position: absolute;
	width: 400px;
	height: 200px;
	background-color: #62b1cf;
	box-shadow: 0px 0px 30px dimgrey;
	padding: 10px;
	letter-spacing: 2px;
	z-index: 100000;
	color: grey;
	margin-left: calc(50% - 200px);
}

.pg-container{
	background-color: #62b1cf;
	padding: 10px;
	height: 300px;
	width: 300px;
	float: left;
	letter-spacing: 2px;
	line-height: 30px;
	margin-left: 10px;
	text-align: center;
	scroll: auto;
	font-size: 150%;
}

.group-title{
	font-size: 150%;
	color: lightblue;
}

#group-plates-container{
	width: 1000px;
	text-align: center;
	margin: 0 auto;
}

#footer{
	text-align: center;
	color: #006965;
	letter-spacing: 2px;
	font-size: 70%;
	padding-top: 10px;
	height: 20px;
	width: 100%;
	position: fixed;
	background-color: #62b1cf;
	z-index:10000;
    bottom: 0;
    left: 0;
}

.footer-links{
	color: #009d98;
}

.bn-f-title{
	letter-spacing: 2px;
	font-size: 180%;
	color: #1ce5c2;
}
.bn-f-text{
	margin: 10 auto;
	letter-spacing: 1px;
	font-size: 150%;
	width: 800px;
	white-space:normal;
}
.bn-f{
	border-bottom: 2px dashed white;
	color: #a8f293;
	text-align: center;
}

.bn-f-time{
	color: lightgrey;
	font-size: 70%;
}
.contact-result-msg{
	font-size: 250%;
	margin-top: 100px;
	text-align: center;
}

#more-pay-info-container{
	float: left;
	position: absolute;
	width: 250px;
	height: 435px;
	background-color: lightgrey;
	border-radius: 2px;
	padding: 15px;
	box-shadow: 0px 0px 20px dimgrey;
	text-align: center;
	white-space: normal;
	font-size: 90%;
	color: grey;
	letter-spacing: 2px;
	display: none;
	left: 20;
}

#forgot-pass-link{
	color: lightblue;
	letter-spacing: 2px;
	margin-left: 20px;
	cursor: pointer;
}

#edit-d-title-field{
	height: 70px;
	width: 80%;
	color:#66CDAA;
	letter-spacing:3px;
	font-size:100%;
}

.tjudge-spec-users-field{
	border: none;
	font-size: 110%;
	padding: 5px;
	width: 217px;
}

#judge-invite-box{
	z-index:1000000;
	position: absolute;
	margin-left: calc(50% - 100px);
	padding:10px;
	background-color:#62b1cf;
	color:grey;
	letter-spacing:2px;
	box-shadow: 0px 0px 30px grey;
	width:200px;

}
#report-problem-form{
	background-color: #62b1cf;
	width: 400px;
	height: 200px;
	position: fixed;
	display: none;
	margin-left: calc(50% - 400px);
	box-shadow: 0px 0px 30px grey;
	padding: 10px;
	padding-bottom: 50px;
	padding-top: 0px;
	z-index: 10000;
}

.admin-fa-textareas{
	resize:none;
	background-color:grey;
	border:1px solid black;
	height:100px;
	width:600px;
}

#sncomp-txtarea{
	width: 305px;
	resize: none;
	margin-left: 20px;
	border: none;
}

.wof-container{
	background-color: lightgrey;
	width:30%;
	min-height: 575px;
	height: auto;
	text-align: center;
	float: left;
	margin-left: 3%;
	display: inline-block;
	font-size: 120%;
}

.wof-cont-title{
	font-size: 130%;
	color: salmon;
}

.wof-info{
	font-size: 80%;
	color: grey;
}
.page-path{
	letter-spacing: 2px;
	font-size: 110%;
	color: #40e0d0;
}

#vote-opt-offer-box{
	background-color: #62b1cf;
	width: 320px;
	position: absolute;
	margin-left: 40px;
	box-shadow: 0px 0px 30px grey;
	padding: 10px;
	color: pink;
	z-index: 10000;
	text-align: center;
	height: 260px;
	display: none;
}

.view-thread-opts-link{
	padding: 10px;
	letter-spacing: 2px;
	float: right;
	background-color: salmon;
	color: white;
	margin-top: -31px;
	margin-left: 2px;
}

#vote-dis-box{
	width:40%;
	margin-bottom:20px;
	height:100px;
	background-color:#EDEDED;
	padding:10px;
}

.thread-end{
	background-color: #E3E3E3;
	width:300px;
	height:100%;
	float:right;
	padding:10px;
	color: #457EA4;
	padding-top: 30px;
	text-align: center;
	font-size: 75%;
	text-align: center;
	margin-top:-60px;
	overflow: auto;
}

.thread-end-sec{
	height: 60px;
	float: left;
	display: inline-block;
	text-align: center;
	letter-spacing: 1px;
	margin-top: 10px;
	white-space: normal;
	word-wrap: break-word;
	
}

#save-audio{
	padding: 5px;
	background-color: salmon;
	width: 50px;
	text-align: center;
	color: white;
	margin-left: 100px;
	margin-top: -4px;
	height: 20px;
	display: none;
	cursor: pointer;
}

#try-again-audio{
	padding: 5px;
	background-color: salmon;
	width: 50px;
	float: left;
	text-align: center;
	color: white;
	margin-top: -30px;
	margin-left: 80px;
	height: 20px;
	display: none;
	cursor: pointer;
}

.rec-audio{
	background-image:url('../images/mic.png');
	width: 30px;
	height: 30px;
	padding:30px;
	background-color: salmon;
	border-radius:100%;
	background-size: 60%;
	float: left;
	cursor: pointer;
	margin-top: 0px;
	background-position: center;
	background-repeat: no-repeat;
}


@media only screen and (max-width:1200px) {
	.res-field1{
		height: 25px;
	}
}
